
name: CI Workflow

# Trigger the workflow on push events to the main branch
on:
  push:
    branches:
      - main

jobs:
  build:
    # Specify the type of runner (Ubuntu in this case)
    runs-on: ubuntu-latest
