name: CI Workflow

on:
  push:
    branches:
        uses: actions/checkout@v3      - main

      - name: Run a sample script
        run: echo "Build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
